@font-face {
    font-family: 'Graphik';
    font-weight: 900;
    src: url('/fuentes/Graphik-Black.otf') format('opentype');
  }

  @font-face {
    font-family: 'Graphik2';
    font-weight: 900;
    src: url('fuentes/GraphikBoldItalic.otf') format('opentype');
  }

  .button1 {
    width: 20%;
    margin-left:40%;
    margin-right:40%;    
    text-align: center;
    background-color: #b7b7bd;
    position: relative;
    border-radius: 12px;
    margin-top: 30px;
    padding: 14px 40px;
    font-size: 16px;
    font-style: 'Graphik2';
  }

  .button2 {
    width: 20%;
    margin-left:40%;
    margin-right:40%;  
    margin-top:40%;   
    text-align: center;
    background-color: #b7b7bd;
    position: relative;
    border-radius: 12px;
    margin-top: 30px;
    padding: 14px 40px;
    font-size: 16px;
    font-style: 'Graphik2';
  }
  
  
  .button1:active{
    background-color: #767680;
  }
  .button_change {
    width: 20%;
    margin-left:40%;
    margin-right:40%;    
    text-align: center;
    background-color: #141316;
    position: absolute;
    border-radius: 12px;
    margin-top: 30px;
    padding: 14px 40px;
    font-size: 16px;
    font-style: 'Graphik2';
  }

.banner_t {
    color:#f1f1f1;
    text-align:center;
    font-style: 'Graphik';
    margin-left:1em;
    margin-right:1em;
}

.radio_item{
  color: aqua;
}

.banner_2 {
  width: 100%;
  color:#ffffff;
  font-style: 'Graphik';
  text-align: center;
}

.banner_3 {
  width: 100%;
  color:#ffffff;
  font-style: 'Graphik';
  text-align: center;
  margin-top: 1em;
}

.Column_1 {
  align-content: center;
}

.Fila_1 {
  margin-top: 1em;
} 

.alerta {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  place-content: center;
  text-align: center;
  font-size: 16px;
  font-style: 'Graphik2';
  padding: 80px 120px;
  border-radius: 12px;
  z-index: 2;
}

.Graph_izq {
  position: relative;
  margin-top: 5%;
  margin-left: 5%;
}

.Graph_der {
  position: relative;
  margin-top: 5%;
  margin-right: 5%;
  
}

.banner_d {
  width: 40%;
  text-align: center;
  position: relative; 
  color:#0b6a81;
  font-style: 'Graphik';
  margin-left:auto;
  margin-right:auto;
  margin-top:1em;
}